In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
results = pd.read_csv(r'..\results\TestingResults1.csv')
results

,Machine,InterpolationType,GridType,BatchSize,Time,RemovalFraction,MAE,RMSE,Max Error
0,CPU,Bilinear,A,1000,0,NaN,NaN,NaN,NaN
1,CPU,Cubic,A,1000,0,NaN,NaN,NaN,NaN
2,CPU,Kriging,A,1000,6,NaN,NaN,NaN,NaN
3,GPU,Bilinear,A,1000,13,NaN,NaN,NaN,NaN
4,GPU,Cubic,A,1000,40,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
343,CPU,Cubic,B,250344,645,0.05,6.30093,15.0715,529.750
344,CPU,Kriging,B,250344,708,0.05,4.98024,11.2783,342.524
345,GPU,Bilinear,B,250344,61,0.05,6.74368,15.9349,414.333
346,GPU,Cubic,B,250344,246,0.05,6.30093,15.0715,529.750
347,GPU,Kriging,B,250344,358,0.05,4.98024,11.2783,342.524

## Performance Metrics

### Grid A

In [6]:
grid_a_results = results.loc[results['GridType'] == 'A']
grid_a_results

,Machine,InterpolationType,GridType,BatchSize,Time,RemovalFraction,MAE,RMSE,Max Error
0,CPU,Bilinear,A,1000,0,NaN,NaN,NaN,NaN
1,CPU,Cubic,A,1000,0,NaN,NaN,NaN,NaN
2,CPU,Kriging,A,1000,6,NaN,NaN,NaN,NaN
3,GPU,Bilinear,A,1000,13,NaN,NaN,NaN,NaN
4,GPU,Cubic,A,1000,40,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
247,CPU,Cubic,A,5000000,2901,NaN,NaN,NaN,NaN
248,CPU,Kriging,A,5000000,14942,NaN,NaN,NaN,NaN
249,GPU,Bilinear,A,5000000,462,NaN,NaN,NaN,NaN
250,GPU,Cubic,A,5000000,420,NaN,NaN,NaN,NaN
251,GPU,Kriging,A,5000000,561,NaN,NaN,NaN,NaN

In [7]:
# separate into df's by batch size
grid_a_results['BatchSize'].unique()

array([   1000,    5000,   10000,   50000,  100000, 1000000, 5000000],
      dtype=int64)

In [ ]:
# batch1 corresponds to all entries with the first BatchSize
batch1 = grid_a_results.loc[grid_a_results['BatchSize'] == 1000]

interp_types = ['Bilinear', 'Cubic', 'Kriging']
machines = ['CPU', 'GPU']

performance_a = {
    'CPU Bilinear': None,
    'GPU Bilinear': None,
    'CPU Cubic': None,
    'GPU Cubic': None,
    'CPU Kriging': None,
    'GPU Kriging': None
}

for interp in interp_types:
    for machine in machines:
        # 1) Get all entries for machine and interpolation type from larger set
        subset = batch1.loc[(batch1['Machine'] == machine) & (batch1['InterpolationType'] == interp)]
        
        # 2) Sum over all times and divide by length to get average
        average = np.mean(subset['Time'].values)

        
        
        break
    break

0.2